[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
django-filter = "*"
factory-boy = "*"
python-decouple = "*"
psycopg2-binary = "*"

[dev-packages]
pylint = "*"
black = "*"
pylint-django = "*"
pytest = "*"

[requires]
python_version = "3.8"
